
*{
    margin: 0%;
    padding: 0%;
}
 
html{ 
    font-size: 62.5%;
    font-family: 'Red Hat Display', sans-serif;
    height: 100%;
}


/*--------HEADER-PAGINAS--------*/
nav {
    background-color: rgb(0, 0, 0 , 0.7);
    display: flex;
}

.nav-item a:hover {
    background-color: red;

}

a.nav-link {
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}

#navbarNavDropdown {
    flex-direction: row;
    justify-content: end;
}

/*--------FOOTER PAGINAS--------*/

footer {
    display: flex;
    flex-direction: center;
    flex-wrap: wrap;
    grid-area: footer;
}

.finalpag  {
    font-size: 16px;
    color:white;
    text-decoration: none;
    font-weight: lighter;
    display:inline-block;
    text-align: center;

}

a {
    color: white;
    text-decoration: none;
    padding: 20px;
    content: icon;
}

.redessociales a:hover{
background-color: red;
}


.redessociales img{
    width: 30px;
}

.redessociales {
    position: absolute;
    right: 0%
}


/*---------INDEX----------*/

.bodyindex{
    position: relative;
    background-size: cover;
    background-image: url(../multimedia/fotopri.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family:'Red Hat Display', sans-serif;


}

.tituloprin {
    color:white;
    font-weight:bold;
    font-size: 40px;
    margin-top: 50px;
}

.titulosecu {
    color:white;
    font-weight: normal;
    font-size: 24px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
}
.subtitulo {
    color:white;
    font-weight: normal;
    font-size: 24px;
    text-align: left;
    margin-bottom: 10%;
}


.finalpag  {
    font-size: 16px;
    color:white;
    text-decoration: none;
    font-weight: lighter;
    display:inline-block;
    text-align: center;

}

a {
    color: white;
    text-decoration: none;
    padding: 20px;
    content: icon;
}

.redessociales a:hover{
background-color: red;
}


.redessociales img{
    width: 30px;
}

.redessociales {
    position: absolute;
    right: 0%
}


/*---BODY HISTORIA DISCO FOTOS CONTACTO---*/


.cuerpo { 
    background-color: black;
    font-family: 'Red Hat Display', sans-serif; 
}

/*--------HISTORIA--------*/

.cajacontenedora {
    display: flex;
}
.historiarey {
    text-align: left;
    color:white;
    font-weight:bold;
    font-size: 30px;
    margin: 50px 20px 100px 20px;

}

.titulo1{
    color:white;
    font-weight:bold;
    text-align: left;
    font-size: 25px;
    margin: 20px 50px 20px 20px;
}

.texto1 {
    color:white;
    display: inline-block;
    font-weight:normal;
    font-size: 15px;
    text-align: left;
    margin: 10px 50px 20px 20px;


}


/*--------CONTACTO--------*/

.cajacontacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulocontacto {
    width: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-weight:bold;
    font-size: 28px;
    background-color: white;   
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px; 
}
.titulocontacto__subtitulo {
    text-align: center;
    width: 200;
    height: 200;
    margin-bottom: 20px;
    margin-left: 20px;
    color: white;
    font-weight: normal;
    font-style: italic;
    font-size: 20px;
}
.contacto {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: white;
    font-weight:bold;
    font-size: 28px;
    text-align: left;
}

.mjcomputer {
    width: 500px;
    height: 500px;
    background-position:right;
    margin-left: 20px;
    margin-bottom: 20px;
    justify-items: center;
    
}

.formulario {
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 300px;;
    height: 300px;

}
label{
    color: white;
    display: inline-block;
    font-size: 18px; 
    vertical-align: top;
}

input {
    width: 250px;
    transition: all 2s;
    
}
input:focus {
    width: 350px;
    background-color: red;
}

/*--------DISCOGRAFIA--------*/


iframe {
    margin: 20px 20px;
}


.album-responsive{
    margin: 20px;
    display: flex;
    align-items:center;
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    border: 7px solid white
}
.img-disco {
    margin-top: 40px;
    height: 300px;
}
.disco-encabezado {
    grid-area: logo;
}


.banner {
    width: auto;
    height: auto;
    background-color: white;   
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px; 
}

.titulo {
    text-align: center;
    font-weight:bold;
    font-size: 40px;
    
}
.titulo__disco {
    text-align: center;
    font-weight: normal;
    font-size: 24px;
}

.disco_texto1 {
    border-radius: 4%;
    color:white;
    font-weight:bolder ;
    font-size: 25px;
    text-align: left;
    margin: 20px;
}
.disco_texto1__texto2 {
    color:white;
    font-weight:normal ;
    font-size: 15px;
    text-align: left;
    margin: 10px 50px 20px 20px;
}

.album-container{
    display:flex;
    align-items:center;
   justify-content: space-around;
}
/*--------GALERIA------*/
.carousel {
    display: flex;
    width: 1000px;
    height: 500px;
}





/*--------MOBILE-------*/

@media screen and (max-width: 1000px) {

a.nav-link{
    font-size: 10px;
}

.logo{
    height: 80px;
}

.navbar-toggler-collapsed {
    color: white;
}
.finalpag  {
    width: 40%;
    text-align: center;
    font-size: 10px;
}

.redessociales img {
    width: 10px;
}
.a {
    display: inline-block;
}
button {
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 40px;
}


/*--------INDEX--------*/

.bodyindex {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 2%, rgba(0,0,0,1) 34%, rgba(9,9,9,1) 41%, rgba(19,19,19,1) 45%, rgba(38,38,38,1) 51%, rgba(102,102,102,1) 60%, rgba(126,126,126,1) 62%, rgba(150,150,150,1) 67%, rgba(255,255,255,1) 100%);
}

nav {
    background-color: none;
}

.container-fluid {
    display: flex;
    flex-direction:column;
}

.tituloprin {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.titulosecu {
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.subtitulo {
    text-align: center;
        font-size: 15px;
        margin-bottom: 10%;
}



/*--------DISCO--------*/

.album-responsive {
        flex-direction: column;
        margin: 20px 10px 40px 5px;

}

.titulo {
    font-size: 20px;
}
.titulo__disco {
    font-size: 10px;
}
.disco_texto1 {
        display: inline-block;
        font-size: 20px;
        text-align: center;
        margin: 10px;
        width: 100%;
}

.disco_texto1__texto2 {
    text-align: center;
        font-size: 10px;
        margin-left: 10px;
}
    
.img-disco {
        display: inline-block;
        margin-top: 40px;
        height: 150px;
}

.album-container {
    flex-wrap: wrap;
}



/*--------GALERIA--------*/

.carousel {
    width: 400px;
    height: 400px;

}

/*--------CONTACTO--------*/


.titulocontacto {
    width: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight:bold;
    font-size: 25px;
}
.titulocontacto__subtitulo {
    text-align: center;
    width: 200;
    height: 200;
    margin-bottom: 60px;
    margin-left: 20px;
    color: white;
    font-weight: normal;
    font-style: italic;
    font-size: 15px;
    
}
.contacto {
    align-items: center;
    text-align: center;
    font-size: 24px;
    text-align: center;
}

.mjcomputer {
    width: 400px;
    height: 400px;
    background-position:right;
    margin-left: 20px;
    margin-bottom: 20px;
    grid-area: mjcomputer;
    justify-items: center;
    
}

.formulario {
    justify-content: center;
    margin-bottom: 40px;
    margin-left: 20px;
    width: 500px;;
    height: 500px;

}
label{
    color: white;
    display: inline-block;
    font-size: 18px; 
    vertical-align: top;
}


}