
.cajacontacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    .titulocontacto {
        width: 300px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 20px;
        font-weight:bold;
        font-size: 28px;
        background-color: white;   
        border-radius: 22px 22px 22px 22px;
        -moz-border-radius: 22px 22px 22px 22px;
        -webkit-border-radius: 22px 22px 22px 22px; 
    }
    .titulocontacto__subtitulo {
        text-align: center;
        width: 200;
        height: 200;
        margin-bottom: 20px;
        margin-left: 20px;
        color: white;
        font-weight: normal;
        font-style: italic;
        font-size: 20px;
    }
}




.contenedor_contacto{
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 2%, rgba(0,0,0,1) 34%, rgba(9,9,9,1) 41%, rgba(19,19,19,1) 45%, rgba(38,38,38,1) 51%, rgba(102,102,102,1) 60%, rgba(126,126,126,1) 62%, rgba(150,150,150,1) 67%, rgba(255,255,255,1) 100%); 
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
    padding: 20px;
    img {
        width: 500px;
        height: 500px;
        background-position:right;
        margin-left: 20px;
        margin-bottom: 20px;
        justify-items: center;
   }
    .contacto {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 20px;
        color:black;
        font-weight:bold;
        font-size: 28px;
        text-align: left;
    }

    label {
       color: white;
       display: inline-block;
       font-size: 18px; 
       vertical-align: top;
       text-align: center;
    }
    input{
        margin: 10px;
        width: 350px;
    }

}

