
.banner {
    width: auto;
    height: auto; 
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 2%, rgba(0,0,0,1) 34%, rgba(9,9,9,1) 41%, rgba(19,19,19,1) 45%, rgba(38,38,38,1) 51%, rgba(102,102,102,1) 60%, rgba(126,126,126,1) 62%, rgba(150,150,150,1) 67%, rgba(255,255,255,1) 100%); 
        
    .titulo {
        color: white;
        text-align: center;
        font-weight:bold;
        font-size: 40px;
        
    }
    .titulo__disco {
        color: white;
        text-align: center;
        font-weight: normal;
        font-size: 24px;
        border-radius: 5%;
    } 
}


.album-responsive{
    margin: 20px;
    display: flex;
    align-items:center;
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    border: 7px solid white;
    .album-container{
        display:flex;
        align-items:center;
       justify-content: space-around;
       .img-disco {
        margin-top: 40px;
        height: 300px;
    }
    }
    .disco_texto1 {
        border-radius: 4%;
        color:white;
        font-weight:bolder ;
        font-size: 25px;
        text-align: left;
        margin: 20px;
    }
    .disco_texto1__texto2 {
        color:white;
        font-weight:normal ;
        font-size: 15px;
        text-align: left;
        margin: 10px 50px 20px 20px;
    }
    iframe {
        margin: 20px 20px;
    }
    
}


@media screen and (max-width: 1000px) {
    .contenedor_responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
    .banner {
        width: 300px;
        margin: 20px 20px 20px 20px;
        .titulo {
            font-size: 20px;
        }
        .titulo__disco {
            font-size: 10px;
        }
    }
}
.album-responsive {
    flex-direction: column;
    margin: 20px 10px 40px 5px;
    .album-container {
        flex-wrap: wrap;
        .img-disco {
            display: inline-block;
            margin-top: 40px;
            height: 150px;
        }
    }
    .disco_texto1 {
        display: inline-block;
        font-size: 20px;
        text-align: center;
        margin: 10px;
        width: 100%;
    }
    
    .disco_texto1__texto2 {
        text-align: center;
        font-size: 10px;
        margin-left: 10px;
    }
    
}

}